/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Courier new', monospace;
    font-weight: normal;
    font-size: 62.5%;
    background-color: #000;
    color: #C0C0C0;
}
ul, ol, figure{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4{
    font-weight: normal;
}
body{
    font: 1.6rem sans-serif;
}
* a {
    text-decoration: none;
    color: #C0C0C0;
}
* a:hover{
    background-color: #2F4F4f;
}
/*content*/

div {
    border: solid .1rem #fff;
    border-radius: 0.625rem;
    margin: 5%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 1%;
    max-width: 100%;
}

div>ul,p{
    list-style:inside;
    list-style-type: square ;
    text-align: left;
    line-height: 1.6;
}
.siding {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    max-width: inherit;
}
.sided{
    flex: 1;
    margin: 0;
}
.sided:first-child{
    margin-right: 1%;
}
.logi{
    text-align: center;
}
.logi img{
    padding: 3%;
    max-width: 15vw;
    filter:grayscale(100%);

}
/*header*/
h1{
    text-align: center;
    margin: 3%;
}  
h2{
    text-align: left;
}
h3{
    text-align: left; 
    font-size: medium;
    font-weight: bold;
}
/*nav bar*/
nav{
    margin-bottom: 2%;
}
nav ul{ 
    text-align:left;
    max-width: 100rem;
    padding: 2%;
}
nav ul li{
    display: table-cell;
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: #C0C0C0;
}
/*footer*/
footer{
    text-align: center;
    font-weight: bold;
    margin-top: 6% ;
    padding-bottom: 0.3rem;
    margin-left: 30%;
    margin-right: 30%;
}
footer a {
    float: right;
    font-weight: normal;
}
/*responsive*/
@media screen and (max-width: 70rem){
    body, div, .siding{
        margin: 0 1%;
    }
    .sided:first-child{
        margin-right: 0;
    }
    .siding{
        display:block;
    }
    header h1{
        font-size: large;
    }
    main{
        margin-top: .1rem;
    }
    main div, .sided{
        margin-bottom: .8rem;
    }
    div p{
        text-align: justify;
    }
    div h2{
        font-size: large;
    }
    nav ul{
        white-space:normal;
        overflow: scroll;
    }
    nav ul li{
        text-align: left;
        padding: 0.3rem;
    }
}
@media screen and (orientation: landscape){
    main div ul{
        padding: 1rem;     
    }
    header h1{
        font-size: xx-large;
    }
    nav ul{
        white-space: nowrap;
    }
    nav ul li{
        text-align: left;
        padding: 0.5rem;
    }    
}   
