
/*reset*/
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Courier new', monospace;
    font-weight: normal;
    font-size: 100%;
    background-color: #000;
    color: #ffffff;
}
/*content*/
body{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
div {
    border: solid;
    border-radius: 10px;
    margin: 5%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 1%;
}

div>ul,p{
    list-style:inside;
    list-style-type: square ;
    text-align: left;
}
.logi{
    text-align: center;
}
.logi>img{
    width: 10%;
    padding: 5%;
    max-width: 10vw;
    height: auto;
    filter:grayscale(100%);
}
/*header*/
h1{
    text-align: center;
    margin: 3%;
}
.logo{
    height: 44px;
    width: 56px;
    color: #fff;
}   
h2{
    padding: 1%;
    text-align: left;
    text-decoration: underline;
}
h3{
    text-align: left; 
    font-size: medium;
    font-weight: bold;
}
h3 a {
    text-decoration: none;
    color: #fff;
}
h3 a:hover{
    color: springgreen;
}
/*nav bar*/
nav{
    color: #fff;
    position: sticky;
    top: 0;
    max-width: 100%;
}
nav ul :hover{
    list-style-type: circle; 
    color: red;
}
nav>ul{ 
    list-style: inside;
    list-style-type: square;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;

}
nav>ul>li{
    float: right;
    padding: 0 2% 0 2%;
   
}
li a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2;

}
/*footer*/
footer{
    text-align: center;
    font-weight: bold;
    margin-top: 6% ;
    padding-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
}
